/* body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    max-width: 80%;
    margin: auto;
} */

body{
    background-color: #141414;
    color: #fff;
    max-width: 80%;
    margin:auto;
    margin-top: 100px;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}
/* table {
    width: 100%;
}

td {
    padding: 5px;
    border: 2px solid #ccc;
    width: 20%;
    box-sizing: border-box;
} */

/* img{
    max-width: 25%;
} */
img{
    max-width: 25%;
    border-radius: 20px 0 0 20px;
    filter: drop-shadow(0px 4px 5px rgba(255, 255, 255, 0.25));
    
}

#info{
    background-color: #141414;
    width: 25%;
    padding:30px;
    border-radius: 0px 20px 20px 0px;
    left:0;
    filter: drop-shadow(0px 4px 5px rgba(255, 255, 255, 0.25));
}

/* #imgcon img{
    max-width: 100%;
} */

/* #container{
    display: flex;
    gap:10px;
    overflow: visible;
    
   
} */



#movie{
    display: flex;
    
}

/* #container{
    display: flex;
    justify-content: space-around;
} */

/* main {
    overflow-x: hidden;
    display: flex;
  }
  

  
  section {

    min-width: 50vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }  */


  h2{
    padding:0;
    margin:0;
    margin-bottom: 10px;
    color: #fff;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    
}

p{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    color:#767676;
    padding:0;
    margin:0;
    
}


.hidden{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.showing{
    visibility: visible;
    opacity: 1;
    transition: 0.5s ease-in-out;
}

