body{
    max-width: 50%;
    margin:auto;
    margin-top:100px;
}
h1{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    
}

h2{
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    
}

p{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 10px;
}




figcaption{
    padding-top: 4px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

#container1{
    display: flex;
    gap:100px;
}

img{
    max-width: 100%;
   
    margin-bottom: 20px;
    
    
}

#casestudy img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom:5px;
}

/* #comp{
    display: flex;
}

#ooo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
      
}

#compname{
    
    display: flex;
    flex-direction: column;
} */

#casestudya{

    text-align: center;
    font-size:15px;
    text-decoration: none;
    color: #767676 ;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    
}

#casestudya a{
    text-decoration: none;
}




#casestudy{
    margin-bottom: 50px;
}


#casestudya:hover{
   
    
    color: #ccc ;
    
}

