body{
    max-width: 60%;
    margin:auto;
    margin-top:100px;
}
h1{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    
}

p{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 10px;
}




figcaption{
    padding-top: 4px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

#container1{
    display: flex;
    gap:100px;
}

img{
    max-width: 100%;
    margin-bottom: 20px;
}

/* #comp{
    display: flex;
}

#ooo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
      
}

#compname{
    
    display: flex;
    flex-direction: column;
} */

#casestudya{
    font-size: 32px;
    text-decoration: none;
    color: #000 ;
    font-weight: 700;
}

#casestudy{
    margin-bottom: 50px;
}


#casestudya:hover{
   
    
    color: #767676 ;
    
}