#map { 
    height: 500px; 
    margin-bottom: 100px;
}

body{
    background-color: #fff;
    color: #141414;
    max-width: 60%;
    margin:auto;
    margin-top: 50px;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin-bottom: 10px;
}

img{
    max-width: 40%;
    /* height:50vh; */
    border-radius: 20px;
    filter: drop-shadow(0px 4px 5px rgba(255, 255, 255, 0.25));
    
    
}

/* .info{
    background-color: #141414;
    width: 15vw;
    height:43vh;
    padding:30px;
    border-radius: 0px 20px 20px 0px;
    left:0;
    filter: drop-shadow(0px 4px 5px rgba(255, 255, 255, 0.25));
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

#outsidedetails{
    font-size: 15px;
    color: #CCCCCC;
}

#plot{
    color: #fefefe;
}

#me1{
    position: absolute;
    bottom:11%;
    font-size: 15px;
    font-weight: 500;
    color: #CCCCCC;
}

#me2{
    position: absolute;
    bottom:5%;
    font-size: 15px;
    font-weight: 500;
    color: #CCCCCC;
}

#plot{
    color: #fff;
    margin-top: 10px;
    display:-webkit-box;
    max-width: 300px;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
 
    margin-bottom: 20px;
}

#movie{
    display: flex;
    
} */

#item{
    margin-bottom: 100px;
    display: flex;
    gap: 50px;
    
}

.tag{
    margin-bottom:10px;
}


#tag{
    background-color: #B2A8F1;
    color: #fefefe;
    display: inline;
    padding:5px;
    border-radius: 5px;
    
    
}
  h2{
    padding:0;
    margin:0;
    margin-bottom: 10px;
    color: #141414;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    
}

p{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    padding:0;
   
    margin:0;
    
}


/* 
.hidden{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.showing{
    visibility: visible;
    opacity: 1;
    transition: 0.5s ease-in-out;
} */



