#map { 
    /* height: 500px; 
    width:700px; */
    height: 500px; 
    width:500px;
    margin-bottom: 100px;
}

body{
    background-color: #fff;
    color: #141414;
    max-width: 80%;
    margin:auto;
    margin-top: 50px;
    overflow-x: hidden;
    overflow-anchor: none;
}


section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


h1{
    font-family: 'Karla', sans-serif;
    margin-bottom: 200px;
    font-weight: 700;
    font-size: 100px;
    text-align: center;
    z-index: 10;
    filter: drop-shadow(10px 5px 4px #cecece);  
}

img{
    max-width: 100%;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 5px rgba(255, 255, 255, 0.25));
    
    
}

.titleimg{
    max-width: 40%;
}

#item{
    margin-bottom: 100px;
    display: flex;
    gap: 30px;
    
    
}

.tag{
    margin-bottom:10px;
}


#tag{
    background-color: #B2A8F1;
    color: #fefefe;
    display: inline;
    padding:5px;
    border-radius: 5px;
    font-size: 15px;
}

  h2{
    font-family: 'Karla', sans-serif;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 40px;
}

h3{
    padding:0;
    margin:0;
    margin-bottom: 10px;
    color: #141414;
    font-size: 30px;
    font-family: 'Karla', sans-serif;
    
}

p{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    padding:0;
   
    margin:0;
    
}
  .rotated1 {
    transform: rotate(30deg); 
    position: absolute;
    top:0%;
    left:0%;
  }

  .rotated2 {
    transform: rotate(-30deg);
    position: absolute;
    top:-20%;
    left:40%;
  }

  .rotated3 {
    transform: rotate(-30deg); 
    position: absolute;
    top:-7%;
    right:-5%;
  }

  .rotated4 {
    transform: rotate(-30deg);
    position: absolute;
    bottom:0%;
    left:0%;
  }

  .rotated5 {
    transform: rotate(30deg);
    position: absolute;
    bottom: -15%;
    right:40%;
  }

  .rotated6 {
    transform: rotate(30deg);
    position: absolute;
    bottom:-7%;
    right:-7%;
  }

  .rotated1 img, .rotated2 img, .rotated3 img, .rotated4 img, .rotated5 img, .rotated6 img{
    max-width: 70%;
  }

  .container {
    margin-top:250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

#sources{
    text-align: center;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color: #141414;
    font-weight: 700;
}

a:hover{
    color: #141414;
    opacity: 70%;
    text-decoration: underline;
}