body{
    background-color: #141414;
    color: #fff;
    max-width: 80%;
    margin:auto;
    margin-top: 100px;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}

img{
    max-width: 25%;
    border-radius: 20px 0 0 20px;
    filter: drop-shadow(0px 4px 5px rgba(255, 255, 255, 0.25));
    
}

#interstellar{
    display: flex;
    
   
    

    
}
p{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    
}
#info{
    background-color: #141414;
    width: 25%;
    padding:30px;
    border-radius: 0px 20px 20px 0px;
    left:0;
    filter: drop-shadow(0px 4px 5px rgba(255, 255, 255, 0.25));
}

h2{
    padding:0;
    margin:0;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    
}

.hidden{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
    /* width: 35%; */
}

.showing{
    visibility: visible;
    opacity: 1;
    /* width: 35%; */
    transition: 0.5s ease-in-out;
}

/* #info:hover{
    width: 35%;
    transition: 0.5s ease-in-out;
} */

#info2{
    
    margin-top:0px;
   
}

#info2 p{
    /* font-size: 20px; */
    margin: 0;
}

#watchd{
    padding-top: 10px;
}

#actors, #released{
    color:#767676;
    margin: 0;
    
}


#released{
   
    padding-top: 10px;
    margin: 0;
}




/* main {
    overflow-x: hidden;
    display: flex;
  }
  

  
  section {

    min-width: 50vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

  } */