body{
    max-width: 60%;
    margin:auto;
    margin-top:100px;
    color: #121212;
}
h1{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    
}

h2{
    margin-top:50px;
}

p{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 20px;
}

img{
    display: block;
    margin: auto;
    max-width: 100%;
    margin-bottom: 20px;
    
}

#paper{
    display: flex;
    gap:10px;

}


#paper img{
    max-width: 50%;
    
}

#flow{
    display: flex;
    gap:30px;
    margin-bottom:30px;
    
}

#flow p{
    font-size: 17px;
}

#flow img{
    max-width: 60%;
}

figcaption{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

.sketches{
    border: 1px solid #555;
    margin:0;
    margin: auto;
}

.sketches2{
    border: 1px solid #555;
    margin:0;
    margin: auto;
    max-width: 40%;
}

#usaImg{
    display: flex;
    
}



#usaImg img{
    max-width: 30%;
    margin-bottom: 0;
}