body{
    max-width: 60%;
    margin:auto;
    margin-top:100px;
    color: #121212;
}
h1{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    
}

p{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 100px;
}

img{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    
}
