#map { 
    height: 300px; 
    
}

body{
    background-color: #fff;
    color: #141414;
    max-width: 60%;
    margin:auto;
    margin-top: 50px;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin-bottom: 10px;
}

img{
    
    height:50vh;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 5px rgba(255, 255, 255, 0.25));
    
    
}

.info{
    display: flex;
    gap:50px;
    margin:50px 0 50px 0;
}

#outsidedetails{
    font-size: 15px;
    color: #CCCCCC;
}

#plot{
    color: #fefefe;
}

#me1{
    position: absolute;
    bottom:11%;
    font-size: 15px;
    font-weight: 500;
    color: #CCCCCC;
}

#me2{
    position: absolute;
    bottom:5%;
    font-size: 15px;
    font-weight: 500;
    color: #CCCCCC;
}

#plot{
    color: #fff;
    margin-top: 10px;
    display:-webkit-box;
    max-width: 300px;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
 
    margin-bottom: 20px;
}

#movie{
    display: flex;
    
}

  h2{
    padding:0;
    margin:0;
    margin-bottom: 10px;
    color: #141414;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    
}

p{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    padding:0;
    margin:0;
    
}


/* 
.hidden{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.showing{
    visibility: visible;
    opacity: 1;
    transition: 0.5s ease-in-out;
} */



#scroll{
    display: flex;
    margin-top: 50px;
    margin-bottom: 5px;
    justify-content: center;
    font-size: 20px;
    gap:10px;
    font-weight: 700;
}

i{
    padding-top: 5px;
}

footer{
    text-align: center;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    
    
  }

a:hover{
    color:#CCCCCC;
    
    
  }


#footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
}


